
header {
    width: 100%;
    background: #fff;
    height: 0px;
    line-height: 30px;
    top: 0px;
}

.hamburger {
    background: none;
    position: absolute;
    top: .2em;
    right: .9em;
    line-height: 45px;
    padding: 5px 15px 0px 15px;
    color: #ff6a00;
    border: 0;
    font-size: 3.4em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
}

.cross {
    background: none;
    position: absolute;
    top: .1em;
    right: .6em;
    padding: 10px 2e, 0px 2em;
    color: #ff6a00;
    border: 0;
    font-size: 6.5em;
    line-height: 1.4em;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    z-index: 10000000000000;
}

.menu {
    z-index: 1000000;
    font-weight: bold;
    font-size: 1.3em;
    width: 100%;
    background: rgba(0,0,0,.1);
    position: absolute;
    text-align: center;
    line-height: 1.8em;
    top: 20px;
    right: 0;
}

    .menu ul {
        
        padding: 0px 5px 5px 5px;
        display: block;
        list-style-type: none;
        list-style-image: none;
    }

    .menu li {
        padding: 0px 5px 5px 5px;
        border-bottom: # 1px solid;
        display: inline;
    }

        .menu li:hover {
            display: inline;
            background:;
            padding: 0px 5px 5px 5px;
            border-bottom: #ffd800 3px solid;
        }

    .menu ul li a {
        text-decoration: none;
        margin: 0px;
        color: #fff;
    }

        .menu ul li a:hover {
            color: #fff;
            text-decoration: none;
        }

    .menu a {
        text-decoration: none;
        color: #fff;
    }

        .menu a:hover {
            text-decoration: none;
            color: #fff;
        }

.glyphicon-home {
    color: white;
    font-size: 2.5em;
    margin-top: 5px;
    margin: 0 auto;
}
