@font-face {
    font-family: "Oferta-do-Dia";
    src: url("Oferta-do-Dia.ttf") format("truetype");
}
@font-face {
    font-family: "montserratregular";
    src: url("montserrat.regular.ttf") format("truetype");
}